{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />

<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	{% include "visual/components/favicon.html"%}

	<meta charset="utf-8" />	
	<link rel="stylesheet" href="{% static 'visual/portal/style/style.css' %}">
	{% block head %}
	{% endblock %}

	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>
	   {% block content %}
	   {% endblock %}
</body>

</html>