{% extends 'base.html' %}

{% block content %}
<section class="block">
  <h1>Sign up</h1>
  <form method="post">
    {% csrf_token %}
    <dl>
    {% for field in form %}
        
        <dt>{{ field.label_tag }}</dt>
        <dd>{{ field }}</dd>
        {% if field.help_text %}
          <dd class="help">{{ field.help_text }}</dd>
        {% endif %}
        {% for error in field.errors %}
        <dd class="error">{{ error }}</dd>
        {% endfor %}
    {% endfor %}
    <dd><button type="submit">Sign up</button></dd>
    </dl>
  </form>
</section>
{% endblock %}