{% load staticfiles %}
<form id="notebook_upload_form" method="post">
    {% csrf_token %}
    <dl>
        <dt>{{ notebook_form.title.label_tag }}</dt>
        <dd>{{ notebook_form.title }}</dd>
        {% for error in notebook_form.title.errors %}
            <dd class="error">{{ error }}</dd>
        {% endfor %}
        <dt><label for="notebook_upload_form_file">Select file</label></dt>
        <dd><input type="file" id="notebook_upload_form_file"></dd>
        <dd><button type="submit">Upload</button></dd>
    </dl>
</form>