

body, html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    color: #FFF;
    background: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* FLOW CANVAS */
#upload-flow {
    position: absolute;
    background: #333;
    padding: 1em;
    border-radius: 0.3em;
    margin: 10em calc((100vw - 30em) / 2);
    max-width: 30em;
}

#upload-flow p {
    margin-top: 0;
}

canvas { 
    display:block; 
    background: #222; 
}

#flowappstatus {
    position: absolute;
    bottom: 1em;
    left: 1em;
    background: rgba(37, 37, 37, 0.7);
    color: #CCC;
    font-size: 1em;
    padding: 0.7em 1em;
    border-radius: 0.3em;
}

#flowappui{
    position: absolute;
    bottom: 1em;
    right: 1em;
    /*background: rgba(37, 37, 37, 0.7);*/
    color: #CCC;
    padding: 1em;
    
    width: 400px;
    font-size: 1em;
}

#placeholderui{
    padding: 0.7em 1em;
    background: rgba(37, 37, 37, 0.7);
    color: #CCC;
    font-size: 0.8em;
    border-radius: 0.3em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#placeholderui span {
    font-weight: bold;
} 

#scenes, 
#elements{
    position: relative;
}


/* NAVIGATION */
.navigation-inline {
    position: absolute;
    right: 105%;
    bottom: 0;
}

.navigation{
    border-radius: 0.3em;
    display: none;
    flex-flow: column;
    background: rgba(34, 34, 34, 0.85);;
    padding: 0.5em;
}

.task {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;
}

.task:last-child{
    margin-bottom: 0;
}

.navigation .action{
    width: 100%;
    text-align: right;
    /*font-weight: bold;*/
    color: #888;
    margin-bottom: 0.5em;
}

.and{
    flex:0 1 auto;
    padding: 0.1em 0.5em;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.keys {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: flex-end;
}

.key{
    flex:0 1 auto;
    font-size: 1em;
    font-weight: bold;
    background: #444;
    padding: 0.1em 0.5em;
    border-radius: 0.2em;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}

.menuNote{
    text-align: right;
    margin-top: 1em;
}

.menuNote > span{
    font-weight: bold;
}

#mainNavigationContainer{
    position: absolute;
    bottom: 5em;
    left: 1em;
    color: #CCC;
    font-size: 1em;
}

.mainNavigation,
.mainNavigation .action,
.mainNavigation .keys {
    text-align: left;
    justify-content: flex-start;
}

/* SCENE LISTS */

#sceneListContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}

.canvasIcon {
    width: 5%;
    display: block;
}

.canvasIcon.side {
    height: 100%;
}

#sceneList {
    background: #444;
    display: flex;
    border-radius: 0.3em;
    padding: 1em;
    align-items: center;
    justify-content: space-evenly;
}

#sceneList .scene{
    width: 100%;
    height: 0.5em;
}

.navpoint{
    width: 0.5em;
    height: 100%;
}

#sceneList .scene,
.navpoint {
    background: #666;
    display: inline-block;
}

#sceneList .scene:first-child{
    border-radius: 0.5em 0 0 0.5em ;
}

#sceneList .scene:last-child{
    border-radius: 0 0.5em 0.5em 0;
}

.navpoint:first-child{
    border-radius: 0.5em 0.5em 0 0;
}

.navpoint:last-child{
    border-radius: 0 0 0.5em 0.5em ;
}


#sceneList .scene.selected,
.navpoint.selected{
    background: #FFF;
}


.menuLabel{
    font-size: 1.5em;
    text-align: right;
    /* font-weight: bold; */
    color: #888;
    padding: 0.5em 1em;
    background: #222;
    border-radius: 0.3em;
    margin: 1em 0;
}

.menuDescription {
    color: #AAA;
    margin-bottom: 2em;
}

/* STRUCTURE WIDGETS */

#scene {
    display: flex;
}

#scenewidgets {
    width: 90%;
}

#scenenavpoints {
    width: 10%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

/*nav */

.widgetnav {
    margin: 0 auto;
}

/*widgets */

.widget {
    border-radius: 0.3em;
}

.widget:first-child {
    margin-top: 0;
}

.widget .field {
    display: flex;
}

.widget .field .title,
.widget .field .value,
.widget .field .meta {
    padding: 0.5em;
    box-sizing: border-box;
}

.widget .field .title{
    width: 40%; 
    background: #333;
}

.widget .field.selected .title{
   background: #444;
}

.widget .field .value,
.widget .field .meta{
    width: 60%; 
}

.widget .field .value {
    background: #444;
}

.widget .field.selected .value{
    background: #555;
 }

.widget .field:first-child .title {
    border-top-left-radius: 0.3em;
}

.widget .field:first-child .value{
    border-top-right-radius: 0.3em;
}

.widget .field:last-child .value:last-child,
.widget .field:last-child .meta:last-child{
    border-bottom-right-radius: 0.3em;
}

.widget .field:last-child .title{
    border-bottom-left-radius: 0.3em;
}

/* components */
.component {
    margin: 1em 0;
}

.componentPlaceholder{
    background: #333;
    padding: 1em;
    border-radius: 0.3em;
}

.componentTitle{
    text-align: right;
    font-size: 1.5em;
}

.componentDescription{
    text-align: right;
}

.componentDescription span {
    font-weight: bold;
}

.componentWidget{
    position: relative;
}

.componentMainWidget{
    flex: 2 1;
}

.componentSideWidget{
    flex: 3 1;
}

.componentMainWidget{
    background: #333;
    border-radius: 0.3em 0 0 0.3em;
}

.componentSideWidget{
    background: #444;
    border-radius: 0 0.3em 0.3em 0;
}

.componentField{
    padding: 0.5em 1em;
    align-items: center;
}

.componentSideWidget .componentField{
    display: flex;
    justify-content: space-between;
}

.componentMainWidget .componentFieldValue {
    font-size: 1.5em;
}

.componentFieldKeys {
    font-weight: bold;
}

.componentFieldTitle{
    flex: 2 1;
    color: #888;
    max-width: 5.5em;
}

.componentFieldValue{
    flex: 2 1;
}

.componentFieldKey{
    flex: 1 1;
}

.componentMainWidget .componentDescription{
    padding: 0 1em;
    text-align: left;
}

.componentMainWidget .componentDescription:first-of-type{
    padding-top: 1em;
}

.componentMainWidget .componentDescription:last-of-type{
    padding-bottom: 1em;
}