@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #FFF;
    background: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input{
    font-family: 'Open Sans', sans-serif;
}

section.block {
    max-width: 30em;
    margin: 0 auto;
}

section.block h1 {
    text-align: center;
}

h1, h2, h3 {
    text-transform: uppercase;
}

form dl {
    margin: 0em;
    padding: 0em;

}

form dl dt,
form dl dd {
    padding: 0;
    margin: 1em 0;
}

form dl dd.error {
    background: #493939;
    padding: 1em;

}

form input[type="password"],
form input[type="text"],
form input[type="email"] {
    font-size: 0.8em;
    padding: 1em;
    border: none;

    width: calc(100% - 2em);
    font-family: "Courier New", Courier, monospace;
    background: #444;
    color: #FFF;
}

form button[type="submit"] {
    font-size: 0.8em;
    padding: 1em;

    background: #222;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
} 

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

form textarea {
    border: none;
    resize: none;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

form dd.help {
    color: #888;
    padding-bottom: 1em;
}

header {
    margin: 0;
    padding: 1em 1em;

    justify-content: space-between;
    display: flex;
}

header ul {
    margin: 0;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 0;
    overflow: auto;
}

header ul li {
    float: left;
}

header ul li + li {
    padding-left: 1em;
}

a:link,
a:visited {
    color: #509aaf;
}

a:hover {
    color: #7dd8c7;
}

a:active {
    color: #f5ffc3;
}