{% load staticfiles %}
{% load date_tags %}

<div class="box">
	<input id="code" value="{{ code }}" style="display: none"/>
	<form method="POST" action="/notebook/{{ code }}" id="notebook_form">
		{% csrf_token %}
		<dl class="editor">
			<dt>{{ form.title.label_tag }}</dt>
			<dd>{{ form.title }}</dd>
			{% for error in form.title.errors %}
				<dd class="error">{{ error }}</dd>
			{% endfor %}
			<dt>{{ form.data.label_tag }}</dt>
			<dd>{{ form.data }}</dd>
			{% for error in form.data.errors %}
				<dd class="error">{{ error }}</dd>
			{% endfor %}
			<dd>
				<button id="notebook_form_submit" type="submit">Save</button>
			</dd>
		</dl>
	</form>
</div>
<div class="box"></div>