{% load staticfiles %}

<script src="{% static 'visual/interface/js/externals/cookies.js' %}"></script>
<script src="{% static 'visual/interface/js/externals/websocket.js' %}"></script>
<script src="{% static 'visual/interface/js/externals/uuid.js' %}"></script>
<script src="{% static 'visual/interface/js/history.js' %}"></script>
<script src="{% static 'visual/interface/js/datamanager.js' %}"></script>
<script src="{% static 'visual/interface/js/editor.js' %}"></script>
<script src="{% static 'visual/interface/js/terminal.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_notebook_form.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_notebook_open.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_file_edit.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_file_delete.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_dataset_copy.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_general.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/subui/ui_command.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/ui_file.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/ui_sidebar.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/ui_dataset.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/ui_notebook.js' %}"></script>
<script src="{% static 'visual/interface/js/ui/ui_terminal.js' %}"></script>
<script src="{% static 'visual/interface/js/ui.js' %}"></script>