{% load staticfiles %}

<script type="text/javascript" src="{% static 'visual/interface/cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/history.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/datamanager.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/ui_general.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/file.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/file_edit.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/file_delete.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/dataset_copy.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/dataset.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/notebook_open.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui/notebook.js' %}"></script>
<script type="text/javascript" src="{% static 'visual/interface/ui.js' %}"></script>