{% load staticfiles %}

<script src="{% static 'visual/interface/cookies.js' %}"></script>
<script src="{% static 'visual/interface/history.js' %}"></script>
<script src="{% static 'visual/interface/datamanager.js' %}"></script>
<script src="{% static 'visual/interface/editor.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/notebook_form.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/notebook_open.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/file_edit.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/file_delete.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/dataset_copy.js' %}"></script>
<script src="{% static 'visual/interface/ui/subui/ui_general.js' %}"></script>
<script src="{% static 'visual/interface/ui/file.js' %}"></script>
<script src="{% static 'visual/interface/ui/sidebar.js' %}"></script>
<script src="{% static 'visual/interface/ui/dataset.js' %}"></script>
<script src="{% static 'visual/interface/ui/notebook.js' %}"></script>
<script src="{% static 'visual/interface/ui.js' %}"></script>