{% load staticfiles %}

<script src="{% static 'visual/portal/js/externals/cookies.js' %}"></script>
<script src="{% static 'visual/portal/js/externals/websocket.js' %}"></script>
<script src="{% static 'visual/portal/js/externals/uuid.js' %}"></script>
<script src="{% static 'visual/portal/js/history.js' %}"></script>
<script src="{% static 'visual/portal/js/datamanager.js' %}"></script>
<script src="{% static 'visual/canvas/js/externals/gl-matrix.js' %}"></script>

<script src="{% static 'visual/canvas/js/graphics/shaders/base/shader_type.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/base/shader.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/base/program.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/box_program.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/glyph_program.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/stream_program.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/shaders/text_program.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/geometry.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/primitive.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/unit_box.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/stream.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/box.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/glyphs.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/primitives/quad.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/scenes/light.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/scenes/camera.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/scenes/scene.js' %}"></script>
<script src="{% static 'visual/canvas/js/graphics/graphics.js' %}"></script>
<script src="{% static 'visual/canvas/js/interface/interface.js' %}"></script>
<script src="{% static 'visual/canvas/js/math.js' %}"></script>
<script src="{% static 'visual/canvas/js/ui/ui_fields.js' %}"></script>
<script src="{% static 'visual/canvas/js/ui/ui_widget.js' %}"></script>
<script src="{% static 'visual/canvas/js/ui/ui_scene.js' %}"></script>
<script src="{% static 'visual/canvas/js/ui.js' %}"></script>
<script src="{% static 'visual/canvas/js/flowapp.js' %}"></script>
<script src="{% static 'visual/canvas/js/webapp.js' %}"></script>