{% load staticfiles %}
{% with icons='visual/portal/icons/' %}

<div id="sidebar">
    <ul class="menu">
        <li class="icon" id="sidebar_dataset_icon"><img src="{% static icons|add:'file.svg' %}" alt="dataset">upload dataset</li>
        <li id="sidebar_dataset_upload">{% include "visual/components/upload.html" %}</li>
        <li class="icon" id="sidebar_upload_notebook_icon"><img src="{% static icons|add:'code.svg' %}" alt="notebook">upload notebook</li>
        <li class="icon" id="sidebar_new_notebook_icon"><img src="{% static icons|add:'code.svg' %}" alt="notebook">new notebook</li>
        <li class="icon" id="sidebar_canvas_icon"><a href="/canvas"><img src="{% static icons|add:'3d.svg' %}" alt="canvas">canvas</a></li>
    </ul>
</div>

{% endwith %}