{% load staticfiles %}
<form id="dataset_upload_form" method="post">
    {% csrf_token %}
    <dl>
        <dt>{{ form.title.label_tag }}</dt>
        <dd>{{ form.title }}</dd>
        {% for error in form.title.errors %}
            <dd class="error">{{ error }}</dd>
        {% endfor %}
        <dt>{{ form.data.label_tag }}</dt>
        <dd>{{ form.data }}</dd>
        {% for error in form.data.errors %}
            <dd class="error">{{ error }}</dd>
        {% endfor %}
        <dd><button type="submit">Upload</button></dd>
    </dl>
</form>