form#notebook_form dl.editor dt{
    display: none;
}

#notebook_form textarea {
    height: calc(100vh - 12em);
    background: #444;
    color: #FFF;
    font-family: "Courier New", Courier, monospace;
}

#notebook_form dd {
    margin: 0;
}

.title_menu {
    display: flex;
}

.title_menu input[type="text"] {
    background: #333;
}




ol#terminal {
    list-style: none;
    padding: 1em 0;
    margin: 0;
    font-size: 0.8em;
    height: calc(100vh - 12em);
    overflow-x: auto;
    box-sizing: border-box;
}

ol#terminal li{
    font-family: "Courier New", Courier, monospace;
    padding: 0.5em 1em;
    box-sizing: border-box;
    display: flex
}

ol#terminal li.command,
ol#terminal li.savepoint {
    color: #777;
}

ol#terminal li.command::before {
    content: '<<<';
    display: block;
    padding-right: 1em;
    color: #777;
    font-weight: bold;
}

ol#terminal li.output::before {
    content: '>>>';
    display: inline-block;
    padding-right: 1em;
    color: rgb(92, 208, 228);
    font-weight: bold;
}

ol#terminal li.output.error::before {
    color: rgb(201, 55, 55);
}

ol#terminal li.savepoint::before {
    content: '\00a0\00a0\00a0';
    display: inline-block;
    padding-right: 1em;
}

form#commandline{
    display: flex;
}

input#command {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background: #444;
    border: none;
    color: #FFF;
}

