#editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#editorScaled {
    width: 100%;
    height: 100%;
}

#editorMode {
    position: absolute;
    top: 0;
    left: 0;
}

.node-body {
    display: flex;
    flex-flow: column;
    background: #333;
    border-radius: 0.3em;
}

.node-field {
    display: flex;
}

.node-field:first-child input {
    border-top-right-radius: 0.3em;
}

.node-field:last-child input{
    border-bottom-right-radius: 0.3em;
}

.node-field-title {
    width: 80px;  
    color: #CCC;
    padding: 0.5em;
}

.node-field-content {
    width: 200px;  
    padding: 0.5em;
}

input.node-field-content {
    font-size: 1em;
    background: #444;
    border: none;
    padding: 0.5em;
    margin: 0;
    color: #FFF;
}

.node-point-in,
.node-point-out {
    width: 10px;
    height: 20px;
    top: 10px;
    background: #CCC;
    position: absolute;
}

.node-point-in {
    border-radius: 10px 0 0 10px;
    left: -10px;
}

.node-point-out {
    border-radius: 0 10px 10px 0;
    right: -10px;
}

svg {
    z-index: -1;
    position: absolute;
    overflow: visible;
}

svg path {
    stroke: #CCC;
    stroke-width: 2;
    fill: transparent;
}

#editor.delete svg path{
    stroke-width: 10;
}




ol#terminal {
    list-style: none;
    padding: 1em 0;
    margin: 0;
    font-size: 0.8em;
    height: calc(100vh - 12em);
    overflow-x: auto;
    box-sizing: border-box;
}

ol#terminal li{
    padding: 0.5em 1em;
    box-sizing: border-box;
    display: flex
}

ol#terminal li.command,
ol#terminal li.savepoint {
    color: #777;
}

ol#terminal li.command::before {
    content: '<<<';
    display: block;
    padding-right: 1em;
    color: #777;
    font-weight: bold;
}

ol#terminal li.output::before {
    content: '>>>';
    display: inline-block;
    padding-right: 1em;
    color: rgb(92, 208, 228);
    font-weight: bold;
}

ol#terminal li.output.error::before {
    color: rgb(201, 55, 55);
}

ol#terminal li.savepoint::before {
    content: '\00a0\00a0\00a0';
    display: inline-block;
    padding-right: 1em;
}

form#commandline{
    display: flex;
}

input#command {
    font-size: 0.8em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background: #444;
    border: none;
    color: #FFF;
}

