{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Notebook - Flow{% endblock %}

{% block head %}
{% endblock %}


{% block content %}
<div id="upload-flow">
    <form>
        <p>Upload <code>*.flow</code> file to visualize it. The file never leaves your computer and isn't uploaded to the server.</p>
        <input type="file" id="file"/>
        <label class="button" for="file">Select some files</label>
      </form>
</div>
<canvas id="canvas"></canvas>

{% include "visual/components/scripts_canvas.html" %}

{% endblock %}