{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Flow{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'visual/interface/style/index.css' %}">
<link rel="stylesheet" href="{% static 'visual/interface/style/notebook.css' %}">
{% endblock %}


{% block content %}
    {% include "visual/components/search.html" %}

    <section id="main">
        {% include "visual/components/notebook.html" %}
    </section>

    {% include "visual/components/scripts.html" %}
    <script src="{% static 'visual/interface/bindings/notebook.js' %}"></script>
{% endblock %}